<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.mylyn.builds.ui.connectors">
      <connector
            core="me.glindholm.mylyn.build.bamboo.core.internal.BambooConnector"
            icon="icons/obj16/bamboo.png"
            kind="org.eclipse.mylyn.bamboo"
            label="Bamboo"
            ui="me.glindholm.mylyn.build.bamboo.ui.internal.BambooConnectorUi">
      </connector>
   </extension>
   <extension
         point="org.eclipse.mylyn.commons.repositories.ui.newWizards">
      <wizard
            category="org.eclipse.mylyn.builds.ui.category.Builds"
            class="me.glindholm.mylyn.build.bamboo.ui.internal.NewBambooServerWizard"
            icon="icons/obj16/bamboo.png"
            id="org.eclipse.mylyn.bamboo"
            name="Bamboo">
         <description>
            Connects to continuous integration servers.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.mylyn.builds.ui.startup">
      <startup
            class="me.glindholm.mylyn.build.bamboo.ui.internal.BambooStartup">
      </startup>
   </extension>

</plugin>
